//breakpoint variables
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

//color variables
$bf-black: #323232;
$bf-blue: #0095ff;
$bf-dark-black: #000000;
$bf-dark-blue: #0065ad;
$bf-silver: #afafaf;
$bf-mercury: #e1e1e1;
$bf-white: #ffffff;
$bf-alabaster: #fafafa;

//font size variables
$mobile-header: 24px;
$mobile-section-header: 18px;
$mobile-subheader: 13px;
$mobile-body: 13px;
$mobile-button: 10px;

$reg-header: 33px;
$reg-section-header: 24px;
$reg-subheader: 14px;
$reg-body: 14px;
$reg-button: 12px;

//font weight variables
$reg: 400;
$demi: 600;
$bold: 700;
