@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;

.videos {
  margin-bottom: 2rem;

  @include desktop {
    padding-left: 1.5rem;
  }
  &__text {
    text-transform: uppercase;
    color: $bf-silver;
    font-size: $mobile-subheader;
    margin-bottom: 1rem;
    font-weight: $demi;
    letter-spacing: 0.3px;

    @include desktop {
      margin-top: 1rem;
      font-size: 0.6875rem;
    }
  }

  &__template {
    display: flex;
    margin: 0.5rem 0;
    transition: all 0.3s ease-in-out;

    &:hover {
      cursor: pointer;
      translate: 0.5rem 0rem;
      box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
      padding: 1rem 1rem;
      border-radius: 4px;
    }

    @include tablet {
      margin: 1rem 0;
      padding-right: 24rem;

      &:hover {
        cursor: pointer;
        translate: 0.2rem 0rem;
        box-shadow: 20px 20px 40px rgba(0, 0, 0, 0.2);
        padding: 0.5rem 0.5rem 0.5rem 1rem;
        background-color: rgb(250, 250, 250);
      }
    }
    @include desktop {
      margin: 1.25rem 0;
      padding-right: 0;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 0 0 1rem;
    padding: 1px 0 2px 0;

    @include desktop {
      margin-right: 0;
    }
  }

  &__title {
    font-weight: $demi;
    font-size: 0.8125rem;
    color: $bf-black;

    @include tablet {
      font-size: 0.875rem;
    }

    @include desktop {
      font-size: $mobile-subheader;
    }

    &:hover {
      cursor: pointer;
    }
  }

  &__channel {
    font-size: $reg-button;
    color: $bf-black;

    @include tablet {
      font-size: 0.875rem;
    }

    @include desktop {
      font-size: $mobile-subheader;
    }

    &:hover {
      cursor: pointer;
    }
  }

  &__img {
    width: 6.3125rem;
    height: 3.75rem;
    object-fit: cover;
    border-radius: 4px;
    background-color: $bf-mercury;

    @include desktop {
      width: 6.25rem;
    }

    &:hover {
      cursor: pointer;
    }
  }

  &__link {
    text-decoration: none;
  }
}
