@use "../../../styles/partials/variables" as *;
@use "../../../styles/partials/mixins" as *;
@use "../../../styles/partials/typography" as *;

.videos {
  margin-bottom: 2rem;

  @include desktop {
    padding-left: 1.5rem;
  }
  &__text {
    text-transform: uppercase;
    color: $bf-silver;
    font-size: $mobile-subheader;
    margin-bottom: 1rem;
    font-weight: $demi;
    letter-spacing: 0.3px;

    @include desktop {
      margin-top: 1rem;
      font-size: 11px;
    }
  }

  &__template {
    display: flex;
    margin: 0.5rem 0;

    @include tablet {
      margin: 1rem 0;
      padding-right: 24rem;
    }
    @include desktop {
      margin: 1.25rem 0;
      padding-right: 0;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 0 0 1rem;
    padding: 1px 0 2px 0;

    @include desktop {
      margin-right: 0;
    }
  }

  &__title {
    font-weight: $demi;
    font-size: 13px;
    color: $bf-black;

    @include tablet {
      font-size: 14px;
    }

    @include desktop {
      font-size: $mobile-subheader;
    }

    &:hover {
      cursor: pointer;
    }
  }

  &__channel {
    font-size: $reg-button;

    @include tablet {
      font-size: 14px;
    }

    @include desktop {
      font-size: $mobile-subheader;
    }

    &:hover {
      cursor: pointer;
    }
  }

  &__img {
    width: 101px;
    height: 60px;
    object-fit: cover;
    border-radius: 4px;
    background-color: $bf-mercury;

    @include desktop {
      width: 100px;
    }

    &:hover {
      cursor: pointer;
    }
  }
}
