@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;

.main {
  &__title {
    padding: 0 0rem 1rem 0;
    font-size: $reg-section-header;
    font-weight: $bold;
    border-bottom: 1px solid $bf-mercury;
    line-height: 2.25rem;
    color: $bf-black;

    @include tablet {
      border: none;
      padding: 0;
      font-size: $reg-header;
    }

    @include desktop {
      margin-top: 1rem;
    }
  }

  &__info {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $bf-mercury;
  }

  &__artist {
    font-size: $mobile-subheader;
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include tablet {
      flex-direction: row;
      padding: 0.5rem 0 0 0;
    }
  }

  &__channel {
    font-weight: $demi;
    padding-bottom: 1rem;
    color: $bf-black;

    @include tablet {
      margin-right: 2rem;
      font-size: 0.90625rem;
    }
  }

  &__date {
    color: $bf-silver;
  }

  &__view {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__stats {
    font-size: $mobile-subheader;
    padding: 1rem 0;
    margin-right: 3.675rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include tablet {
      flex-direction: row;
      padding: 0;
      margin: 0;
    }
  }

  &__img {
    display: flex;
  }

  &__icon {
    width: 1.25rem;
    height: 1.25rem;
    margin-right: 0.5rem;
  }

  &__views {
    color: $bf-silver;
  }

  &__like {
    display: flex;
    align-items: center;

    @include desktop {
      padding-right: 2rem;
    }
  }

  &__likes {
    color: $bf-silver;
  }

  &__heart {
    margin-right: 0.5rem;

    @include tablet {
      margin-left: 2rem;
    }
  }

  &__description {
    padding: 1rem 0.02rem;
    font-size: $mobile-subheader;
    line-height: 1.25rem;

    @include tablet {
      padding-right: 3rem;
      font-size: 0.859375rem;
    }
  }
}
