@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;

.header {
  text-align: center;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;

  @include tablet {
    flex-direction: row;
    padding: 0 2rem;
    align-items: center;
    justify-content: space-between;
  }
  @include desktop {
    padding: 0 8rem;
    margin-right: 2.5rem;
  }

  &__logo {
    width: 120px;
    height: 25px;
    display: flex;
    margin: 0 auto;
    @include tablet {
      display: flex;
      margin: 0;
    }
  }

  &__right {
    @include tablet {
      display: flex;
      margin-left: auto;
    }
  }

  &__nav {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    width: 100%;
    @include tablet {
      align-items: center;
      margin: 0;
    }
  }

  &__container {
    font-family: AvenirNext LT Pro;
    border: 1px solid $bf-mercury;
    border-radius: 4px;
    width: 75%;
    margin-right: 1rem;
    font-size: $reg-button;
    line-height: 20px;
    display: flex;

    @include tablet {
      width: 90%;
      padding: 0.45rem 2.5rem 0.45rem 0.5rem;
    }

    @include desktop {
      padding: 0.45rem 3rem 0.45rem 0;
    }
  }

  &__input {
    font-family: AvenirNext LT Pro;
    border: none;
    width: 100%;
    font-size: $reg-button;
    padding-left: 0.5rem;

    @include tablet {
      margin-right: 3rem;
    }
  }

  &__img {
    width: 1.5rem;
    height: 1.5rem;
    padding: 0.5rem 0 0 0.5rem;

    @include tablet {
      padding: 0rem 0 0 0.5rem;
    }
  }
  // &__search {
  //   position: absolute;
  //   left: 1.5rem;
  //   top: 4.4rem;
  //   width: 1rem;
  //   height: 1rem;
  // }

  // &__input {
  //   font-family: AvenirNext LT Pro;
  //   border: 1px solid $bf-mercury;
  //   border-radius: 5px;
  //   padding: 0.5rem;
  //   padding-left: 2rem;
  //   width: 75%;
  //   margin-right: 1rem;
  //   font-size: $reg-button;
  //   line-height: 20px;

  // @include tablet {
  //   margin-right: 1.5rem;
  //   width: 15rem;
  // }

  // @include desktop {
  //   margin-right: 2rem;
  // }
  // }

  &-icon__mobile {
    border-radius: 50%;
    width: 36px;
    height: 36px;
    object-fit: cover;
    object-position: 15% 50%;
    @include tablet {
      display: none;
    }
  }

  &__buttons {
    @include tablet {
      display: flex;
      align-items: center;
    }
  }

  &__upload {
    display: flex;
    border: none;
    background-color: $bf-blue;
    margin: 1rem 1rem 0.1rem 1rem;
    border-radius: 4px;

    &:hover {
      cursor: pointer;
    }

    @include tablet {
      align-items: center;
      margin: 0 1.5rem 0 0;
    }
  }

  &__button {
    background-color: $bf-blue;
    color: $bf-white;
    border: none;
    border-radius: 4px;
    padding: 0.8rem 4rem 0.8rem 2rem;
    width: 90%;
    text-transform: uppercase;
    font-size: $reg-button;
    font-weight: $demi;

    &:hover {
      cursor: pointer;
    }

    @include tablet {
      padding: 0.8rem 2rem;
      font-size: $reg-button;
      margin: 0 1.5rem 0 0;
    }
    @include desktop {
      margin-right: 2rem;
      padding: 0.8rem 1.25rem;
    }
  }

  &__publish {
    padding-left: 0.5rem;
    width: 1.75rem;
    height: 2.5rem;
  }

  &-icon__desktop {
    display: none;

    @include tablet {
      display: flex;
      border-radius: 50%;
      width: 40px;
      height: 40px;
      object-fit: cover;
      object-position: 15% 50%;

      &:hover {
        cursor: pointer;
      }
    }
  }
}
