@use "../../../styles/partials/variables" as *;
@use "../../../styles/partials/mixins" as *;
@use "../../../styles/partials/typography" as *;

.comments {
  &__list {
    display: flex;
    border-top: 1px solid $bf-mercury;
    margin: 1rem 0;
    width: 100%;

    &:last-child {
      border-bottom: 1px solid $bf-mercury;
      padding-bottom: 1rem;
    }
  }

  &__info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;
  }

  &__section {
    display: flex;
    flex-direction: column;
    margin: 1rem 0 0 1rem;

    @include desktop {
      margin: 1rem 0.5rem 0 2rem;
    }
  }

  &__name {
    font-weight: $demi;
    font-size: $mobile-subheader;
    color: $bf-black;
  }

  &__timestamp {
    color: $bf-silver;
    font-size: $mobile-subheader;

    @include desktop {
      padding-right: 2.5rem;
    }
  }

  &__text {
    font-size: 13px;
    line-height: 1.25rem;

    @include desktop {
      padding-right: 2rem;
      font-size: 14px;
    }
  }
}
