@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;

.comments {
  &__list {
    display: flex;
    border-top: 1px solid $bf-mercury;
    margin: 1rem 0;
    width: 100%;
    position: relative;

    &:last-child {
      border-bottom: 1px solid $bf-mercury;
      padding-bottom: 1rem;

      @include desktop {
        border-bottom: none;
      }
    }
  }

  &__img--holder {
    background-color: $bf-mercury;
    overlay: rgba(206, 0, 0, 0.5);

    @include tablet {
      margin-top: 0.5rem;
    }
  }

  &__info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;
  }

  &__section {
    display: flex;
    flex-direction: column;
    margin: 1rem 0 0rem 1rem;
    width: 100%;

    @include tablet {
      padding: 0.5rem 0;
    }

    @include desktop {
      margin: 1rem 0.5rem 0 2rem;
    }
  }

  &__name {
    font-weight: $demi;
    font-size: $mobile-subheader;
    color: $bf-black;
  }

  &__timestamp {
    color: $bf-silver;
    font-size: $mobile-subheader;

    @include desktop {
      padding-right: 1rem;
    }
  }

  &__text {
    font-size: 0.8125rem;
    line-height: 1.25rem;
    padding-right: 2rem;
    position: relative;

    @include tablet {
      font-size: 0.875rem;
    }

    @include desktop {
      padding-right: 1rem;
      font-size: 0.85625rem;
    }
  }

  &__delete {
    font-family: AvenirNext LT Pro;
    position: absolute;
    bottom: -0.5rem;
    right: 0;
    background-color: $bf-white;
    border: none;
    border-radius: 4px;
    padding: 0.3rem;
    text-transform: uppercase;
    color: $bf-hover;
    font-size: $mobile-button;
    transition: all 0.3s ease-in-out;

    &:hover {
      cursor: pointer;
      color: red;
      letter-spacing: 1px;
    }

    @include tablet {
      bottom: -1.5rem;

      &:last-child {
        margin-bottom: 0.5rem;
      }

      @include desktop {
        right: 1rem;
        bottom: -1.5rem;
      }
    }
  }
}
